.spinner-conteiner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 15px 0px;
    font-size: 30px;
    color:#6666cc;
    animation: rotate-center 0.8s linear infinite both;
}

@keyframes rotate-center {
    0% {
      
        transform: rotate(0);
    }
    100% {
      
        transform: rotate(360deg);
    }
}